<%- include('../partials/head') %>
<%- include('../partials/header') %>
    <h1 class="main__title">Products</h1>
    <p>List of all products (<%= products.length %>)</p>
    <section class="main__article">
        <% if (products.length > 0) { %>
            <% for (let i = 0; i < products.length; i++) { %>
                <article class="article">
                    <header class="article__header">
                        <div class="article__header__img__container">
                            <img src="<%= products[i].img_url ? products[i].img_url : '/img/default.jpg' %>" alt="">
                        </div>
                        <h2 class="article__header__title">
                            <%= products[i].title %>
                        </h2>
                    </header>
                    <div class="article__desc">
                        <p class="article__desc__price">
                            <span>Price:</span>
                            <%= products[i].price ? products[i].price + ' €' : 'No price' %>
                        </p>
                        <p class="article__desc__desc">
                            <span>Description:</span>
                            <%= products[i].description ? products[i].description : 'No description' %>
                        </p>
                        <p class="article__desc__quantity">
                            <span>Quantity:</span>
                            <%= products[i].quantity ? products[i].quantity : 'No quantity' %>
                        </p>
                        <p class="article__desc__admin">
                            <span>Id admin:</span>
                            <%= products[i].firstname ? products[i].firstname : 'Id admin' %>
                        </p>
                    </div>
                    <div class="article__footer">
                        <% if (products[i].admin_id === 1) { %>
                            <a href="/admin/edit-product/<%= products[i].id %>?edit=true" class="article__footer__link__edit">Edit</a>
                        <% } %>
    
                        <form action="/admin/delete-product/<%= products[i].id %>" method="DELETE" class="article__footer__form__delete">
                            <button type="submit">Delete</button>
                            <input type="hidden" name="id" class="hidden" value="<%= products[i].id %>">
                        </form>
                    </div>
                </article>
            <% } %>
        <% } else { %>
            <p>No products found</p>
        <% } %>
    </section>
<%- include('../partials/footer') %>