<nav class="header__navigation">
  <ul class="header__navigation__list">
    <li class="header__navigation__list__li">
      <a href="/" class="<%= path === '/' ? 'link-active header__navigation__list__li__link' : 'header__navigation__list__li__link' %>">Shop</a>
    </li>
    <% if (!locals.isLoggedIn) { %>
      <li class="header__navigation__list__li">
        <a href="/login" class="<%= path === '/login' ? 'link-active header__navigation__list__li__link' : 'header__navigation__list__li__link' %>">Login</a>
      </li>
    <% } %>
    <% if (!locals.isLoggedIn) { %>
      <li class="header__navigation__list__li">
        <a href="/signup" class="<%= path === '/signup' ? 'link-active header__navigation__list__li__link' : 'header__navigation__list__li__link' %>">Signup</a>
      </li>
    <% } %>
    <% if (locals.isLoggedIn) { %>
      <li class="header__navigation__list__li">
        <a href="/add-product" class="<%= path === '/add-product' ? 'link-active header__navigation__list__li__link' : 'header__navigation__list__li__link' %>">Add product</a>
      </li>
      <li class="header__navigation__list__li">
        <a href="/handle-products" class="<%= path === '/handle-products' ? 'link-active header__navigation__list__li__link' : 'header__navigation__list__li__link' %>">Handle products</a>
      </li>
      <li class="header__navigation__list__li">
        <button class="header__navigation__list__li__link" onclick="location.href='/logout'">Logout</button>
      </li>
    <% } %>
  </ul>
</nav>